*.d
*.o
*.so
*~
*.out
*.a
*.pyc
*.root
Linux GCC
Debug
Release
*.mk
hvcontrol/hvcontrol
daq/daq
countersLog/countersLog-abs
KcPV485/kshd485cycle
KcPV485/kshd485calibrate0
GEM/utils/unpacker/unpacker
GEM/utils/packer/packer
GEM/utils/kedr_emulator/kedr_emulator
GEM/utils/gem_setup/gem_setup
GEM/utils/event_dumper/event_dumper
GEM/gem_server/gem_server
thermolog/raw
thermolog/thermolog
.gdbinit
*.diff
rootdict.cpp
rootdict.h
.metadata
